.search {
  width: 28%;
  /* background-color: #afafaf; */
  /* height: 100%; */
  display: flex;
  align-items: center;
  display: flex;
  position: relative;
  /* z-index: 999; */
}
.searchBox {
  width: 100%;
  margin-left: 0%;
  /* min-height: 7vh; */
  /* height: 3vh; */
  height: clamp(3vh, 3.5rem, 7vh);
  border: 1px solid #afafaf;
  border-radius: 10rem;
  outline: none;
  /* background-image: url("../../assets/icons/Icon\ feather-search.svg"); */
  background-repeat: no-repeat;
  background-position: right 2% bottom 50%;
  padding-left: 2rem;
}

.searchIcon {
  position: absolute;
  right: 0%;
  height: 70%;
  margin-left: 0.6rem;
  cursor: pointer;
  z-index: 999;
}

.smallScreen {
  width: 0% !important;
  min-height: 2.2rem;
  margin-left: 98%;
  position: absolute;
  z-index: 888;
}

.searchIconSmallScreen {
  position: initial;
  height: 1.7rem !important;
  margin-left: 100%;
}

.searchIconActive {
  position: absolute;
  height: 1.7rem !important;
  transition: all 1s;
}

.activeBox {
  min-width: 10rem;
  margin-left: 0% !important;
  animation: expand 1s ease-out !important;
  transition: all 1s;
}

@keyframes expand {
  0% {
    opacity: 0;
    margin-left: 98% !important;
  }
  50% {
    opacity: 0.2;
    margin-left: 0% !important;
  }
  100% {
    opacity: 1;
  }
}
