.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 998;
  backdrop-filter: blur(15px);
}

.modal {
  position: fixed;
  top: 8%;
  left: 15%;
  width: 70%;
  border-radius: 3.2rem;
  z-index: 999;
  animation: slide-down 300ms ease-out forwards;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1200px) {
  .modal {
    width: 100% !important;
    height: 100vh !important;
    top: 0 !important;
    left: 0 !important;
  }
}
